{% trans_default_domain 'cocorico_listing' %}

{#search form fields without start ane end form#}

<fieldset>
    <legend class="hidden">form-category</legend>
    <div class="form-holder">
        <div class="col categories">
            <strong class="title">
                {{ form_label(form.categories) }}
            </strong>

            <div class="multiselect">
                {{ form_widget(form.categories) }}
            </div>
        </div>


        <div class="col location">
            <strong class="title">
                {{ form_label(form.location.address, null, {
                    'required': false
                }) }}
            </strong>

            <div class="field-holder">
                {{ form_errors(form.location.address) }}
                {{ form_widget(form.location.address, {
                    'id': 'location',
                    'attr': {
                        'class': 'form-control',
                        'placeholder': 'listing.search.form.address.placeholder'|trans
                    }
                } ) }}
                {{ form_rest(form.location) }}
            </div>
        </div>

        <div class="col time">
            {#In case of modification don't forget to add fields "start, end AND nb_days" #}
            {{ form_widget(form.date_range) }}

            {% if timeUnitFlexibility and form.flexibility is defined %}
                <div class="col flexibility">
                    <strong class="title">
                        {{ form_label(form.flexibility) }}
                    </strong>

                    <div class="input-append field-holder">
                        {{ form_errors(form.flexibility) }}
                        {{ form_widget(form.flexibility, {
                            'attr': {
                                'class' : 'no-arrow'
                            }
                        }) }}
                        <small>{{ 'listing_search.form.flexibility_day'|trans }}</small>
                    </div>
                </div>
            {% endif %}

            {% if not timeUnitIsDay %}
                {{ form_widget(form.time_range) }}
            {% endif %}
        </div>

        <input id="search" type="submit" value="{{ 'listing.search'|trans }}" class="btn btn-default">
    </div>
</fieldset>

<script>
    document.getElementById("categories").removeAttribute("multiple");

    document.getElementById("search").onclick = function(e){
        e.preventDefault();
        var location = document.getElementById("location").value;
        const index = location.lastIndexOf(",");
        console.log(index);
        if(index == '-1'){
            location = location.slice(0);
        } else{
            location = location.slice(0,index);
        }
        location = location.replace(", ","-");
        location = location.replace(" ","-");
        location = location.toLowerCase();
        const category_id = document.getElementById("categories").value;
        if(category_id){
            const category = document.getElementsByTagName("option");
            var i =0;
            var category_name = '';
            while(i<14){
                const value = category[i].getAttribute('value');
                if( value == category_id){
                    category_name  = category[i].innerHTML;
                    break;
                }
                i++;
            }
            category_name = category_name.replace("/","-").trim();
            category_name = category_name.replace(" ","-");
            category_name = category_name.toLowerCase();
            if (location){
                const date = document.getElementById("date_range_start").value.replace(/\//g,"-");
                if(date){
                    window.open("/book-"+category_name+"-online/"+location+"/"+date,"_self");
                } else{
                    window.open("/book-"+category_name+"-online/"+location,"_self");
                }
            } else{
                window.open("/book-"+category_name+"-online","_self");
            }
        } else{
            alert("Please select a category to search for.");
        }
    }
</script>
